---
import PageHeading from "../components/page-heading.astro";
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="My Experience">
  <section class="relative z-20 max-w-5xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="My Experience"
    />

    <div class="px-5 py-10">
      {
        experiences.map((experience) => {
          return (
            <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                description={experience.description}
                logo={experience.logo}
              />
            </div>
          )
        })
      }
    </div>
  </section>
</Layout>
